# OS
.DS_Store

# bundle
/.bundle
vendor/bundle/

# log and temp
/log/*
/tmp/*

# history
.byebug_history

# node
node_modules
npm-debug.log

# rspec
/spec/examples.txt
/coverage
/spec/tmp

# .env
.env

# yard
.yardoc
/doc

# keep
!.keep
!.gitkeep
!.env.example
